$darkElements: hsl(209, 23%, 22%);
$darkBg: hsl(207, 26%, 17%);
$darkText: hsl(0, 0%, 100%);

$lightText: hsl(200, 15%, 8%);
$lightBg: hsl(0, 0%, 98%);
$lightElements: hsl(0, 0%, 100%);

$input: hsl(0, 0%, 52%);
